{% extends 'base.html.twig' %}

{% block title %}New ErpMessage{% endblock %}

{% block body %}
    <h1>Create new ErpMessage</h1>

    {{ include('erp_message/_form.html.twig') }}

    <a href="{{ path('app_erp_message_index') }}">back to list</a>
{% endblock %}
