{% extends 'base.html.twig' %}

{% block title %}Edit FactureFournisseurNewData{% endblock %}

{% block body %}
    <h1>Edit FactureFournisseurNewData</h1>

    {{ include('facture_fournisseur_new_data/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_facture_fournisseur_new_data_index') }}">back to list</a>

    {{ include('facture_fournisseur_new_data/_delete_form.html.twig') }}
{% endblock %}
