{% extends 'base.html.twig' %}

{% block title %}Edit LigneCommandeClient{% endblock %}

{% block body %}
    <h1>Edit LigneCommandeClient</h1>

    {{ include('ligne_commande_client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ligne_commande_client_index') }}">back to list</a>

    {{ include('ligne_commande_client/_delete_form.html.twig') }}
{% endblock %}
