{% extends 'base.html.twig' %}

{% block title %}New ErpConsomationParc{% endblock %}

{% block body %}
    <h1>Create new ErpConsomationParc</h1>

    {{ include('erp_consomation_parc/_form.html.twig') }}

    <a href="{{ path('app_erp_consomation_parc_index') }}">back to list</a>
{% endblock %}
