{% extends 'base.html.twig' %}

{% block title %}Edit ErpCommandeClient{% endblock %}

{% block body %}
    <h1>Edit ErpCommandeClient</h1>

    {{ include('erp_commande_client/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_erp_commande_client_index') }}">back to list</a>

    {{ include('erp_commande_client/_delete_form.html.twig') }}
{% endblock %}
