{% extends 'base.html.twig' %}

{% block title %}New ErpCommandeClient{% endblock %}

{% block body %}
    <h1>Create new ErpCommandeClient</h1>

    {{ include('erp_commande_client/_form.html.twig') }}

    <a href="{{ path('app_erp_commande_client_index') }}">back to list</a>
{% endblock %}
