{% extends 'base.html.twig' %}

{% block title %}Edit FactureAutresNewData{% endblock %}

{% block body %}
    <h1>Edit FactureAutresNewData</h1>

    {{ include('facture_autres_new_data/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_facture_autres_new_data_index') }}">back to list</a>

    {{ include('facture_autres_new_data/_delete_form.html.twig') }}
{% endblock %}
