{% extends 'base.html.twig' %}

{% block title %}New ErpEmploye{% endblock %}

{% block body %}
    <h1>Create new ErpEmploye</h1>

    {{ include('erp_employe/_form.html.twig') }}

    <a href="{{ path('app_erp_employe_index') }}">back to list</a>
{% endblock %}
