{% extends 'base.html.twig' %}

{% block title %}New ErpFacturesClientNew{% endblock %}

{% block body %}
    <h1>Create new ErpFacturesClientNew</h1>

    {{ include('erp_factures_client_new/_form.html.twig') }}

    <a href="{{ path('app_erp_factures_client_new_index') }}">back to list</a>
{% endblock %}
