{% extends 'base.html.twig' %}

{% block title %}New ErpParametres{% endblock %}

{% block body %}
    <h1>Create new ErpParametres</h1>

    {{ include('erp_parametres/_form.html.twig') }}

    <a href="{{ path('app_erp_parametres_index') }}">back to list</a>
{% endblock %}
