{% extends 'base.html.twig' %}

{% block title %}New DeviserpLigneDevisFournisseursNew{% endblock %}

{% block body %}
    <h1>Create new DeviserpLigneDevisFournisseursNew</h1>

    {{ include('deviserp_ligne_devis_fournisseurs_new/_form.html.twig') }}

    <a href="{{ path('app_deviserp_ligne_devis_fournisseurs_new_index') }}">back to list</a>
{% endblock %}
