{% extends 'base.html.twig' %}

{% block title %}New ErpClient{% endblock %}

{% block body %}
    <h1>Create new ErpClient</h1>

    {{ include('erp_client/_form.html.twig') }}

    <a href="{{ path('app_erp_client_index') }}">back to list</a>
{% endblock %}
