{% extends 'base.html.twig' %}

{% block title %}Edit DevisFournisseurs{% endblock %}

{% block body %}
    <h1>Edit DevisFournisseurs</h1>

    {{ include('devis_fournisseurs/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_devis_fournisseurs_index') }}">back to list</a>

    {{ include('devis_fournisseurs/_delete_form.html.twig') }}
{% endblock %}
