{% extends 'base.html.twig' %}

{% block title %}New DevisFournisseurs{% endblock %}

{% block body %}
    <h1>Create new DevisFournisseurs</h1>

    {{ include('devis_fournisseurs/_form.html.twig') }}

    <a href="{{ path('app_devis_fournisseurs_index') }}">back to list</a>
{% endblock %}
