{% extends 'base.html.twig' %}

{% block title %}New ErpContactCategorie{% endblock %}

{% block body %}
    <h1>Create new ErpContactCategorie</h1>

    {{ include('erp_contact_categorie/_form.html.twig') }}

    <a href="{{ path('app_erp_contact_categorie_index') }}">back to list</a>
{% endblock %}
