{% extends 'base.html.twig' %}

{% block title %}Edit ErpContact{% endblock %}

{% block body %}
    <h1>Edit ErpContact</h1>

    {{ include('erp_contact/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_erp_contact_index') }}">back to list</a>

    {{ include('erp_contact/_delete_form.html.twig') }}
{% endblock %}
