{% extends 'base.html.twig' %}

{% block title %}New Masociete{% endblock %}

{% block body %}
    <h1>Create new Masociete</h1>

    {{ include('masociete/_form.html.twig') }}

    <a href="{{ path('app_masociete_index') }}">back to list</a>
{% endblock %}
