{% extends 'base.html.twig' %}

{% block title %}New ErpAdmin{% endblock %}

{% block body %}
    <h1>Create new ErpAdmin</h1>

    {{ include('erp_admin/_form.html.twig') }}

    <a href="{{ path('app_erp_admin_index') }}">back to list</a>
{% endblock %}
