{% extends 'base.html.twig' %}

{% block title %}New ErpLigneFacturesFournisseurs{% endblock %}

{% block body %}
    <h1>Create new ErpLigneFacturesFournisseurs</h1>

    {{ include('erp_ligne_factures_fournisseurs/_form.html.twig') }}

    <a href="{{ path('app_erp_ligne_factures_fournisseurs_index') }}">back to list</a>
{% endblock %}
