{% extends 'base.html.twig' %}

{% block title %}New AvoirClientsHistory{% endblock %}

{% block body %}
    <h1>Create new AvoirClientsHistory</h1>

    {{ include('clients_history/_form.html.twig') }}

    <a href="{{ path('app_clients_history_index') }}">back to list</a>
{% endblock %}
